<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hospitalMapper">

	<resultMap type="Hospital" id="hospitalResult">
		<result column="h_code" property="hosCode"/>
		<result column="h_address" property="hosAddress"/>
		<result column="h_ctg" property="hosCtg"/>
		<result column="emg_yn" property="emgYn"/>
		<result column="h_name" property="hosName"/>
		<result column="h_tel" property="hosTel"/>
		<result column="h_ct_mon" property="hosCtMon"/>
		<result column="h_ct_tue" property="hosCtTue"/>
		<result column="h_ct_wen" property="hosCtWen"/>
		<result column="h_ct_thu" property="hosCtThu"/>
		<result column="h_ct_fri" property="hosCtFri"/>
		<result column="h_ct_sat" property="hosCtSat"/>
		<result column="h_ct_sun" property="hosCtSun"/>
		<result column="h_ct_hol" property="hosCtHol"/>
		<result column="h_st_mon" property="hosStMon"/>
		<result column="h_st_tue" property="hosStTue"/>
		<result column="h_st_wen" property="hosStWen"/>
		<result column="h_st_thu" property="hosStThu"/>
		<result column="h_st_fri" property="hosStFri"/>
		<result column="h_st_sat" property="hosStSat"/>
		<result column="h_st_sun" property="hosStSun"/>
		<result column="h_st_hol" property="hosStHol"/>
		<result column="hos_longitude" property="hosLongitude"/>
		<result column="hos_latitude" property="hosLatitude"/>
	</resultMap>

	<resultMap type="Review" id="reviewResult">
		<result column="r_no" property="revNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="mem_id" property="memId"/>
		<result column="R_CONTENT" property="revContent"/>
		<result column="R_date" property="revDate"/>
		<result column="RATE" property="rate"/>
		<result column="review_count" property="reviewCount"/>
		<result column="h_code" property="hosCode"/>
		<result column="h_name" property="hosName"/>
		<result column="nickname" property="nickName"/>
		<result column="review_avg" property="reviewAvg"/>
	</resultMap>
	
	<resultMap type="Calender" id="calenderResult">
	<result column="mem_no" property="textColor"/>
    <result column="mem_name" property="id"/>
    <result column="diagnosis_type" property="title"/>
    <result column="add_symtom" property="borderColor"/>
    <result column="start" property="start"/>
    <result column="end" property="end"/>
    <result column="order_today" property="orderToday"/>
    <result column="order_status" property="groupId"/>
    <result column="backgroundcolor" property="backgroundColor"/>
    <result column="h_name" property="hosCode"/>
    <result column="mem_Id" property="constraint"/>
    <result column="h_code" property="overlap"/>
</resultMap>

	<select id="selectHospitalInfo" resultMap="hospitalResult">
		select
			    H_CODE
			  , H_ADDRESS
			  , H_CTG
			  , EMG_YN
			  , H_NAME
			  , H_TEL
			  , H_CT_MON
			  , H_CT_TUE
			  , H_CT_WEN
			  , H_CT_THU
			  , H_CT_FRI
			  , H_CT_SAT
			  , H_CT_SUN
			  , H_CT_HOL
			  , H_ST_MON
			  , H_ST_TUE
			  , H_ST_WEN
			  , H_ST_THU
			  , H_ST_FRI
			  , H_ST_SAT
			  , H_ST_SUN
			  , H_ST_HOL
			  , HOS_LONGITUDE
			  , HOS_LATITUDE
		  from hospital
		 where h_code = #{ hpid }
	</select>

	<insert id="insertReview">
		insert
		  into review
		  	   (
		  	   R_NO
		  	 , MEM_NO
		  	 , R_CONTENT
		  	 , RATE
		  	 , RV_STATUS
		  	 , H_CODE
		  	   )
		values 
			   (
			   SEQ_RNO.nextval
			 ,  #{ memNo }
			 ,  #{ revContent }
			 , #{ rate }
			 , 'Y'
			 , #{ hosCode }
			   )
			   
	</insert>
	
	<select id="selectReviewList" resultMap="reviewResult">
		select
			   NICKNAME
			 , R_CONTENT
			 , R_DATE
			 , RATE
			 , H_CODE
			 , H_NAME
		  from REVIEW
		  join MEMBER using(mem_no)
		  join hospital using(h_code)
		 where h_code = #{ hosCode }
		 order
		    by r_date desc
	</select>
	
	<select id="selectMyReviewList" resultMap="reviewResult">
		  select
			     r_no
			   , mem_no
			   , nickname
			   , r_content
			   , r_date
			   , rate
			   , h_code
			   , h_name
			   , count(*) over() as review_count
			from review
			join member using (mem_no)
			join hospital using (h_code)
		   where rv_status = 'Y'
		   <if test="memId != 'admin'">
             and mem_no = #{memNo}
 		   </if>
			order by r_date desc
	</select>
	
	<insert id="insertOrder">
		insert
		  into h_order
		values (
		       SEQ_ODRNO.nextval
		     , #{hosCode}
		     , #{memNo}
		     , #{diagnosisType}
		     , #{addSymtom}
		     , #{time}
		     , #{orderDate}
		     , DEFAULT
		     , DEFAULT
			   )
	</insert>
	
	<select id="calenList" resultMap="calenderResult">
    SELECT
    	mem_no,
	    mem_name,
	    CASE diagnosis_type
	        WHEN '1' THEN '일반진료'
	        ELSE '비대면진료'
	    END AS diagnosis_type,
	    add_symtom AS add_symtom,
	    order_date || 'T' || order_time as "start",
	    order_date || 'T' || to_char((to_date(order_time, 'HH24:MI')+ (INTERVAL '30' MINUTE)),'HH24:MI') AS "end",
	    order_today,
	    CASE order_status
	    	when 'W' then '예약대기중'
	    	when 'C' then '진료대기중'
	    	else '완료'
	    end as order_status,
	    CASE order_status
	    	when 'W' then ''
	    	when 'C' then 'green'
	    	else 'gray'
	   	end as backgroundcolor,
	   	mem_Id,
	   	h_code
	FROM
	    h_order
	JOIN
	    member USING (mem_no)
</select>

	<update id="completeOrder">
		update h_order
		   set order_status = 'C'
		 where mem_no = #{memNo}
		   and order_status != 'N'
	</update>
	
	<update id="deleteOrder">
		update h_order
		   set order_status = 'N'
		 where mem_no = #{memNo}
	</update>
	
	<select id="reviewGraph" resultMap="reviewResult">
		select
          RATE
        , count(*) as review_count
     from review
    where h_code = #{ hosCode }
      and rate in (0,1,2,3,4,5)
    group
       by rate
    order
       by rate desc
	</select>
	
	<update id="deleteReview">
		update
			   review
		   set rv_status = 'N'
		 where r_no = #{revNo}
	</update>
	
	<select id="myDiagnosisInfo" resultMap="calenderResult">
		SELECT
    	mem_no,
	    mem_name,
	    CASE diagnosis_type
	        WHEN '1' THEN '일반진료'
	        ELSE '비대면진료'
	    END AS diagnosis_type,
	    add_symtom AS add_symtom,
	    order_date || ' ' || order_time as "start",
	    order_date || 'T' || to_char((to_date(order_time, 'HH24:MI')+ (INTERVAL '30' MINUTE)),'HH24:MI') AS "end",
	    order_today,
	    CASE order_status
	    	when 'W' then '예약대기중'
	    	when 'C' then '진료대기중'
	    	else '완료'
	    end as order_status,
	    CASE order_status
	    	when 'W' then ''
	    	when 'C' then 'green'
	    	else 'gray'
	   	end as backgroundcolor,
	   	h_name
	FROM
	    h_order
	JOIN
	    member USING (mem_no)
	join hospital using (h_code) 
   where mem_no = #{ memNo }
	</select>
	
	<select id="selectReviewAvg" resultMap="reviewResult">
		select
		       h_code
		      ,nvl(avg(rate),0) as "review_avg"
		  from review
		  right outer join hospital using (h_code)
		 group
		    by h_code
		having h_code = #{ hosCode }
	</select>
	
	
</mapper>