<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap  id="memberResultSet" type="Member">
		<result column="MEM_NO" property="memNo"/>
		<result column="MT_ID" property="mtId"/>
		<result column="MEM_ID" property="memId"/>
		<result column="MEM_PWD" property="memPwd"/>
		<result column="MEM_NAME" property="memName"/>
		<result column="NICKNAME" property="nickName"/>
		<result column="EMAIL" property="email"/>
		<result column="POSTCODE" property="postcode"/>
		<result column="ADDRESS" property="address"/>
		<result column="DETAIL_ADDR" property="detailAddr"/>
		<result column="EXTRA_ADDR" property="extraAddr"/>
		<result column="PHONE" property="phone"/>
		<result column="MEMBERSHIP" property="membership"/>
		<result column="STATUS" property="status"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="MS_MONTH" property="msMonth" />
		<result column="MS_YEAR" property="msYear" />
		<result column="BUY_DATE" property="buyDate" />
		<result column="END_DATE" property="endDate" />
		<result column="ENROLL_TYPE" property="enrollType" />
	</resultMap>
	
	<select id="loginMember" resultMap="memberResultSet">
		select
			 MEM_NO
		   , MT_ID
		   , MEM_ID
		   , MEM_PWD
		   , MEM_NAME
		   , NICKNAME
		   , EMAIL
		   , POSTCODE
		   , ADDRESS
		   , DETAIL_ADDR
		   , EXTRA_ADDR
		   , PHONE
		   , MEMBERSHIP
		   , STATUS
		   , ENROLL_DATE
		   , MODIFY_DATE
		   , MS_MONTH
		   , MS_YEAR
		   , BUY_DATE
		   , END_DATE
		   , ENROLL_TYPE
	     from member
	   where status = 'Y'
	    and MEM_ID = #{ memId }  
	</select>
	
	<select id="adminSelectMember" resultMap="memberResultSet">
		select
			 MEM_NO
		   , MT_ID
		   , MEM_ID
		   , MEM_PWD
		   , MEM_NAME
		   , NICKNAME
		   , EMAIL
		   , POSTCODE
		   , ADDRESS
		   , DETAIL_ADDR
		   , EXTRA_ADDR
		   , PHONE
		   , MEMBERSHIP
		   , STATUS
		   , ENROLL_DATE
		   , MODIFY_DATE
		   , MS_MONTH
		   , MS_YEAR
		   , BUY_DATE
		   , END_DATE
		   , ENROLL_TYPE
	     from member
	   where status = 'Y'	
	   order by ENROLL_DATE	DESC        
	</select>
	
	<select id="adminRestoreMem" resultMap="memberResultSet">
		select
			 MEM_NO
		   , MT_ID
		   , MEM_ID
		   , MEM_PWD
		   , MEM_NAME
		   , NICKNAME
		   , EMAIL
		   , POSTCODE
		   , ADDRESS
		   , DETAIL_ADDR
		   , EXTRA_ADDR
		   , PHONE
		   , MEMBERSHIP
		   , STATUS
		   , ENROLL_DATE
		   , MODIFY_DATE
		   , MS_MONTH
		   , MS_YEAR
		   , BUY_DATE
		   , END_DATE
		   , ENROLL_TYPE
	     from member
	   where status = 'N'	
	   order by ENROLL_DATE	DESC        
	</select>
	
	<select id="selectListCount" resultType="_int">
 		select
 			   count(*)
 		  from member
 		 where status='Y' 	  
 	</select>
	
	<select id="kakaoLogin" resultMap="memberResultSet">
		select	
			  mem_no
	        , mem_id
	        , mem_name
	        , email
	        , MS_MONTH
		    , MS_YEAR
		    , BUY_DATE
		    , END_DATE
		    , POSTCODE
		    , ADDRESS
		    , DETAIL_ADDR
		    , EXTRA_ADDR
		    , ENROLL_TYPE
	     from member
	    where mem_id = #{ memId }   
      	  and status = 'Y' 	
	</select>
	
	<select id="naverLogin" resultMap="memberResultSet">
		select	
			  mem_id
	        , nickname
	        , email	        
	        , phone
	        , mem_name
	        , MS_MONTH
		    , MS_YEAR
		    , BUY_DATE
		    , END_DATE
		    , POSTCODE
		    , ADDRESS
		    , DETAIL_ADDR
		    , EXTRA_ADDR
		    , ENROLL_TYPE
	     from member
	    where mem_id = #{ memId }   
      	  and status = 'Y' 	
	</select>
	
	<insert id="insertMember">
		insert 
		  into member
		  (
		    mem_no
		  , mt_id
		  , mem_id
		  , mem_pwd	  
		  , mem_name
		  , nickname
		  , email
		  , postcode
		  , address
		  , detail_addr
		  , extra_addr
		  , phone	
		  , buy_date
		  , enroll_type
		  )	
		  values
		  (
		    seq_mno.nextval
		  , 'M'
		  , #{ memId }
		  , #{ memPwd }
		  , #{ memName }
		  , #{ nickName }
		  , #{ email }
		  , #{ postcode }
		  , #{ address }
		  , #{ detailAddr}
		  , #{ extraAddr }
		  , #{ phone }
		  , default
		  , #{ enrollType }
		  )
	</insert>
	
	<update id="updateMember">
		update member
   		   set 
   		   	   nickname = #{nickName}
		     , email = #{email}
		     , phone = #{phone}
		     , postcode = #{postcode}
		     , address = #{address}
		     , detail_addr = #{detailAddr}
		     , extra_addr = #{extraAddr}
		     , modify_date = sysdate
		 where mem_id = #{memId}

	</update>	 
	
	<update id="updateMembershipMonth">
	 UPDATE member
		SET MEMBERSHIP = 'Y',
		    MS_MONTH = 'Y',
		    END_DATE = SYSDATE + INTERVAL '30' DAY
		WHERE 
		     mem_id = #{ memId }
	</update>
	
	<update id="updateMembershipYear">
	 UPDATE member
		SET MEMBERSHIP = 'Y',
		    MS_MONTH = 'Y',
		    BUY_DATE = SYSDATE,
		    END_DATE = SYSDATE + INTERVAL '1' YEAR
		WHERE 
		     mem_id = #{memId}
	</update>

	<update id="deleteMember">
		update
			   member
		   set status = 'N'
		 where mem_id = #{ memId }
	</update>
	
	<update id="changePwd">
		update
			   member
		   set 
		      mem_pwd = #{ memPwd }
		 where
		      mem_id = #{ memId }     
	</update>
	
	
	<update id="adminDeleteMember" parameterType="int[]">	    
	    update member
	    set status = 'N'
	    where mem_no IN
	    <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
	        #{item}
	    </foreach>	   
	</update>   
	
	<update id="adminRestoreMember" parameterType="int[]">	    
	    update member
	    set status = 'Y'
	    where mem_no IN
	    <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
	        #{item}
	    </foreach>	   
	</update> 
	
</mapper>